body {
    background-color: aquamarine;
    width: auto;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4rem;
}
.url-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.url-input {
    font-size: xx-large;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.submit-button {
    font-size: xx-large;
    margin: 1rem;
    display: block;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.result-section {
    margin: 3rem;
}
.short-url {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
        rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
        rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    padding: 10px;
    font-size: xx-large;
}
